/**********************************MOBILE****************************************************
********************************************************************************************************/
* {border: 1px solid black;}
body{
  font-family: 'Inconsolata', monospace;
}


main {
  margin: 5px;
}

.h2 {
  color: purple;
  font-size: 20px;
  text-align: center;
}

figcaption span {
  text-decoration: underline;
  font-size: 20px;
}


figure img {
  margin-left: 65px;
  margin-bottom: 10px;
}

figure {
  margin: 5px;
}

/***************************TABLETTE***************************
****************************************************************/

@media (min-width:768px) {

  .h2 {
    font-size: 30px;
  }

  .collaborateur {
    display: flex;

  }

  figure {
    margin-left: 15px;
    width: 30%;
  }
 figure img {
   margin: 5px;
 }



}
