/********************************************mode tel****************************************************
********************************************************************************************************/
* {border: 1px solid black;}
body{
  font-family: 'Inconsolata', monospace;
}


main {
  margin: 5px;
}

.h2 {
  color: purple;
  font-size: 20px;
  text-align: center;
}

figcaption span {
  text-decoration: underline;
  font-size: 20px;
}

.collaborateur {
  width: 100%;
}

figure img {
  margin-left: 30px;
  margin-bottom: 10px;
}
