/********************************************************mode tel**********************************************/
/*****************************************************************************************************/
body{
  margin: 0%;
  padding:0%;
  font-family: 'Inconsolata', monospace;
}

.couleur{
  color: #ffd700;
}

<<<<<<< HEAD:css/header,footer.css
h1{
=======

h1 {
>>>>>>> 4722182a39d36a1423546b726bfa580a63a6ef52:header,footer.css
  color: #800080;
  text-align: center;
}
/************************************************header du site******************************************/
header{
  display: flex;
  flex-flow: column;
}

.haut ul{
  display: none;
}

.haut{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.titre{
  width: 100%;
  text-align: center;
}
/***************************menu telephone***************************************/
.bas{
  order:-1;
}

#menu{
   display: none;
}

.bas label{
  display: block;
  background-color: #800080;
  padding:2%;
  border-radius:0 0 100px 0;
  width:60px;
  height: 60px;
  font-size: 30px;
}

.menu-lien li{
  width:50%;
  color: white;
  text-align: center;
  margin:8% 8% 2% 0%;
  padding:2%;
}

.menu-lien{
  width:0%;
  height:0px;
  list-style: none;
  overflow: hidden;
  background-color: #222222;
}

#menu:checked ~ .menu-lien{
  width:250px;
  height: 250px;
  transition: 1s;
}

/************************************************menu contact*******************************************/

.lien-milieu{
  width:80%;
  position:absolute;
  top: 0%;
  right: 0%;
}

#lien{
   display: none;
}

.lien-a{
  margin-top:30%;
  width:0%;
  height:0px;
  list-style: none;
  overflow: hidden;
  background-color: #222222;
}

.lien-a a{
  text-align: center;
  background-color:#ffd700;
  width: 50%;
  display: block;
  margin: 10%;
  padding: 2%;
}

.lien-milieu label{
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #ffd700;
  padding:2%;
  border-radius:0 0 0 100px;
  width:70px;
  height: 70px;
  font-size: 30px;
}

#lien:checked ~ .lien-a{
  width:400px;
  height:250px;
  transition: 1s;
}

/********************************************************footer*****************************************/
footer{
  border-top: 2px double #d3d3d3;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.partenaire{
  width:80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-haut figure{
  width:20%;
}

.footer-haut img{
  width: 100%;
}

.milieu-footer{
  width: 90%;
  padding: 5%;
}

.footer-bas{
  background-color: #d3d3d3;
  width:100%;
  padding: 0%;
}

.footer-bas li{
  padding-left: 2%;
  width:10%;
  margin:5%;
  display: inline-block;
}

/********************************************************mode tablette******************************************
*******************************************************************************************************/
