body{
  margin: 0%;
  padding:0%;
}

.couleur{
  color: #ffd700;
}

<<<<<<< HEAD
h1 {
=======
h1, h2{
>>>>>>> 5ec71034536cf0c7c0f7d9f1c36d64e158f555c1
  color: #800080;
  text-align: center;
}

/*------------------------------------------------Smartphone--------------------------------------------*/

/************************************************header du site******************************************/

header{
  display: flex;
  flex-flow: column;
}

.haut ul{
  display: none;
}

.haut{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/***************************menu telephone***************************************/

.bas{
  order:-1;
  /*font-size:50px;*/
}

#menu{
   display: none;
}

.bas label{
  display: block;
  background-color: #800080;
  padding:2%;
  border-radius:0 0 100px 0;
  width:60px;
  height: 60px;
  font-size: 30px;
}

.menu-lien{
  width:0%;
  height:0px;
  list-style: none;
  overflow: hidden;
  background-color: #d3d3d3;
}

#menu:checked ~ .menu-lien{
  width:200px;
  height: 200px;
  z-index:1;
  transition: 1s;
}



/************************************************menu contact*******************************************/

.lien-milieu{
  position:absolute;
  top: 0%;
  left:77%;
  font-size:70px;
  width: 23%;
}

#lien{
   display: none;
}

.lien-milieu label{
  display: block;
  background-color: #ffd700;
  padding:2%;
  border-radius:0 0 0 100px;
  width:70px;
  height: 70px;
  font-size: 30px;
}

.lien-lien{
  width:0%;
  height:0px;
  list-style: none;
  overflow: hidden;
  background-color: #d3d3d3;
}

#menu:checked ~ .lien-lien{
  width:200px;
  height: 200px;
  transition: 1s;
}

/********************************************************footer*****************************************/

footer{
  border-top: 2px double #d3d3d3;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.partenaire{
  width:80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-haut figure{
  width:20%;
}

.footer-haut img{
  width: 100%;
}

.milieu-footer{
  width: 90%;
  padding: 5%;
}

.footer-bas{
  background-color: #d3d3d3;
  width:100%;
  padding: 0%;
}

.footer-bas li{
  width:10%;
  margin:5%;
  display: inline-block;
  padding-left: 2%;
}

