/**************GENERAL**********************************
*************************************************************
*********************************************************/
body {
  font-family: 'Inconsolata', monospace;
}

/*******************************************************
**************MOBILE***********************************
******************************************************/
.h3prestation {
  background-color: purple;
  color: white;
  font-size: 30px;
}

.h4prestation {
  background-color: gold;
  color: white;
  font-size: 20px;
}

.h5prestation {
  text-align: center;
  text-decoration: underline;
}

#mainprestation img {
  position: relative;
  left: 75px;
}

#mainprestation {
  margin: 5px;
}

.pack ul {
  list-style: none;}

/*******************************************************
**************TABLETTE***********************************/

@media (min-width:760px) {

  #mainprestation img {
    position: relative;
    left: 160px;
  }

.pack h4 {
    text-align: center;
  }

.pack ul {
  text-align: center;
  list-style: none;
}

.h3prestation {
  font-size: 40px;
}

.h4prestation {
  font-size: 30px;
}

.h5prestation {
  font-size: 20px;
}



}
