body, figure, p {
  margin: 0% 0%;
  padding: 0% 0%;
}

body {
  font-family: 'Inconsolata', monospace;
}

/*-------------------------------------------------SMARTPHONE-----------------------------------------------*/

/*--------------------------------------------------------Main------------------------------------------------*/

h2 {
  background-color: purple;
  color: white;
}

main div {
    margin-left: 5%;
    width: 90%;
}

.gallerie {
  display: inline-flex;
  margin-top: 10%;
  margin-left: 10%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 85%;
  height: 260px;    
}

figure {
  height: 230px;
}

figcaption {
  margin: 20%;
}

.gallerie img:hover {
  transform: scale(2.2);
}

p {
  margin-top: 1%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-left: 5%;

}

table {
  background-color: lightgrey;
}

.tableau {
  overflow-x: auto;
  overflow-y: hidden;
  height: 630px;
  width: 90%;
  margin-bottom: 20%;
}

/*----------------------------------------------------TABLETTE----------------------------------------------*/

@media (min-width: 768px){

  main div {
    margin: 5% auto;
  }

  .gallerie {
    margin-left: 3%;
    height: 380px;
  }

  .gallerie figure {
    margin-left: 10%;
  }

  .gallerie figcaption {
    width: 100%;
  }

  .gallerie p {
    width: 100%;
  }

  .gallerie img:hover {
    display: none;
  }

  .tableau {
    margin-bottom: 0%;
    margin-left: 0%;
    margin-top: 2%;
    height: 400px;
    width: 95%;
  }
    
}