/********************************************************mode tel**********************************************/
/*****************************************************************************************************/
body{
  margin: 0%;
  padding:0%;
}

.couleur{
  color: #ffd700;
}

h1, h2, h3{
  color: #800080;
  text-align: center;
}
/************************************************header du site******************************************/
header{
  display: flex;
  flex-flow: column;
}

.haut ul{
  display: none;
}

.haut{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


/***************************menu telephone********************************/
.bas{
  order:-1;
  font-size:50px;
}

.lien, .menu{
  background-color: #D3D3D3;
  display: flex;
}

input, .bas{
   display: none;
}

.menu li, .info{
  border: 1px solid white;
  width: 50%;
  margin: 10%;
  padding: 5%;
  font-size:15px;
  list-style: none;
}

.menu li:focus{
  background-color: #03D1B5;
  color: white;
}

.menu li:hover{
  background-color: #03D1B5;
  color: white;
}

.bas:focus .menu {
    display: block;
}

.bas:hover .menu {
    display: block;
}

/************************************************menu contact*******************************************/
.lien i{
  position:absolute;
  top:0%;
  right: 0%;
  font-size: 50px;
}

.info{
   background-color: #d3d3d3;
   display: flex;
   flex-flow: column;
   display: none;
   font-size:15px;
 }

.info:focus{
  background-color: #03D1B5;
  color: white;
}

.info:hover{
  background-color: #03D1B5;
  color: white;
}

.lien:focus .info{
    display:block;
}

.lien:hover .info{
    display:block;
}

/********************************************************footer*****************************************/
footer{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.partenaire{
  width:80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.footer-haut figure{
  width:20%;
}

.footer-haut img{
  width: 100%;
}

.milieu-footer{
  width: 90%;
  padding: 5%;
}

.footer-bas{
  width: 90%;
}

.footer-bas li{
  width:20%;
  display: inline-block;
}
