body, figure, p {
  margin: 0% 0%;
  padding: 0% 0%;

}

/*--------------------------------------------------------Main------------------------------------------------*/

.gallerie {
  display: inline-flex;
  margin-top: 10%;
  margin-left: 5%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 85%;
}

figure {
  height: 230px;
}

p {
  margin-top: 1%;
}